@page "/todo"
@rendermode InteractiveServer
<PageTitle>Todo</PageTitle>

<h3>Todo</h3>
<input @bind="newTodo"/>
<button @onclick="AddTodo">AddTodo</button>

@code {
    List<TodoItem> todos = new List<TodoItem>();
    string newTodo = string.Empty;
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem
            {
                Title = newTodo
            });
            newTodo = string.Empty;
        }
    }
}


@foreach (var item in todos)
{
    <p>@item.Title</p>
}